# Folders
node_modules/
pathfinder/
externalTools/
dumps/
.next/
wallpapers/
elasticsearch/data
# From EDDiscovery
**/public/img/Bodies/

# Files
dist/
package-lock.json
.env
.env.local

# Keep folders with .gitkeep file
!.gitkeep
