# Folders
node_modules/
pathfinder/
externalTools/
dumps/
.next/
wallpapers/
elasticsearch/data
old-docker-files
# From EDDiscovery
**/public/img/Bodies/

# Files
dist/
package-lock.json
.env
.env.local
*.db

# Keep folders with .gitkeep file
!.gitkeep
bodies/*.png
