$orange-text: #ff8c0d;
$orange-background: #c06400;
$normal-text: #ccc;
$normal-background: #000;
$dark-grey-background: #1e1e1e;
$light-red-text: #ff3b00;
$dark-red-text: #b32900;
$blue-text: rgb(10, 139, 214);
