:root {
    --orange-text: #ff8c0d;
    --orange-background: #c06400;
    --normal-text: #ccc;
    --normal-background: #000;
    --dark-grey-background: #1e1e1e;
    --light-red-text: #ff3b00;
    --dark-red-text: #b32900;
    --blue-text: rgb(10, 139, 214);
}

@font-face{
    font-family: 'Eurostile';
    src: url(/assets/fonts/eurostile.eot);
    src: url(/assets/fonts/eurostile.eot?#iefix) format('embedded-opentype'),
         url(/assets/fonts/eurostile.woff2) format('woff2'),
         url(/assets/fonts/eurostile.woff) format('woff'),
         url(/assets/fonts/eurostile.ttf) format('truetype');
    font-weight:normal;
    font-style:normal
}

body {
    background: var(--normal-background);
    color: var(--normal-text);
    font-family: 'Eurostile';
}

#appwrapper {

}

#output {
    border: 1px solid var(--orange-background);
    color: var(--orange-text);
    background: var(--dark-grey-background);
    width: 95vw;
    height: 100vh;
}
