@import 'variables';
@import 'fonts';
@import 'fontawesome/fontawesome';
@import 'fontawesome/regular';

body {
    background: $normal-background;
    color: $normal-text;
    font-family: 'Eurostile';
    margin: 0;
    line-height: 1.5rem;
}
