/*
:root {
    --lightblue: #00b3f7;
    --darkblue: #0a8bd6;
    --green: #029e4c;
    --red: #ff0000;
    --darkorange: #ff7100;
    --lightorange: #ffb000;
    --orange2: #f07b05;
}
*/

$orange-text: rgb(255, 140, 13);
$orange-background: rgb(192, 100, 0);
$normal-text: rgb(204, 204, 204);
$normal-background: rgb(0, 0, 0);
$dark-grey-background: rgb(30, 30, 30);
$light-red-text: rgb(255, 00, 0);
$dark-red-text: rgb(179, 42, 0);
$blue-text: rgb(10, 139, 214);
$white-text: white;
